.DS_Store

# Virtual Environment and Python Cache
.venv
__pycache__/
*.pyc
.pytest_cache/

# Environments Configurations
.env

# Test Results
results/

# Cached LLM Responses
cache/

create_init.py_files.py

database/

#Download Benchmarks

download_hmmt_yearly.py
download_aime.py
download_gpqa_diamomd.py